/* @font-face {
  font-family: 'Sofia Pro';
  src: url(./fonts/sofia/Sofia\ Pro\ Regular\ Az.otf);
} */
* {
  padding: 0;
  margin: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Sofia Pro' !important;
}

#welcomecont{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;

}

#nav-bar{
  height: auto;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  display: inline-block;
  }

  #nav-bar h1 {
    color: black;
    font-size: 28px !important;
    font-family: 'Sofia Pro' !important;
    margin: 0;
    padding: 16px;
    text-align: center;
    float: left;
  }
    
    .nav-link {
     color: white;
     text-decoration: none;
     color: white;
     font-size: 20px;
     justify-content: flex-end;
     float: right;
     display: flex;
     flex-direction: column;
  }

  
  .nav-link-link:link, .nav-link-link:visited {
    color: black;
    padding: 0px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    float: right;
  }
  
  .nav-link-link:hover, .nav-link-link:active {
    background-color:#101010;
    display: flex;
    color: white;
  }
  
  .welcome {
    animation: bluescreen 1s infinite;
  }

  @keyframes bluescreen {
    0% {
      background-color: black;
    }
    50%{
      background-color: blue;
      color: black;
    }
    100% {
      background-color: black;
    }
  }

  #welcomebg {
    
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: .5s ease;
    
  }

  #name {   
    color: #fff;
    font-family: 'Sofia Pro' !important;
    font-size: 72px;
    text-decoration: none;
  }

  #work {
    color: #fff;
    font-family: 'Sofia Pro' !important;
    font-size: 46px;
    text-decoration: none;
  }


  



  /*=====================================*/
   .header {
     position: relative;
     height: 60px;
   }

 .contact{
    position: relative;
    background-color: #f5f5f5;
    display: flex;
    flex-direction: row;
    padding: 1%;
    justify-content: space-evenly;
    align-items: center;
  }
   a {
     text-decoration: none !important;
   }

   p {
     color: #000 ;
     font-family: 'Sofia Pro Light';
     font-size: 24px;
    
   }

   .container {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

   }
   .container.is-fluid {
    max-width: 100% !important;
   }
   @media (min-width: 410px) {
    .container {
     max-width: 410px;
    }
   }
   @media (min-width: 576px) {
    .container {
     max-width: 576px;
    }
   }
   @media (min-width:768px) {
    .container {
     max-width: 768px;
    }
   }
   @media (min-width: 992px) {
    .container {
     max-width: 992px;
    }
   }
   @media (min-width:1221px) {
    .container {
     max-width: 1220px;
    }
   }

   section {
     margin-bottom: 80px;
   }
  
  
  #typeline {

    font-family: 'Sofia Pro Light';
    text-align:center;
    color: darkblue;
  
  }
  
   .content{
     padding-top: 10%;
   }

   @media screen and (max-width: 300px) {
    #nav-bar{
      height: auto;
      width: 100%;
      position: fixed;
      z-index: 1;
      top: 0;
      left: 0;
      font-size: 12px;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      }

      
    .nav-link {
      color: white;
      text-decoration: none;
      color: white;
      font-size: 8px;
      float: right;
      display: flex;
      flex-direction: column;
   }

   .nav-link-link:link, .nav-link-link:visited {
    color: black;
    padding: 0px 15px;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    align-items: center;
    float: right;
  }
  
  .nav-link-link:hover, .nav-link-link:active {
    background-color:#101010;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: white;
    top: 0  ;
  }

   #welcomecont {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

   #welcomebg {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
  }
  
   #name {   
    color: #fff;
    font-family: 'Sofia Pro' !important;
    font-size: 46px;
    text-decoration: none;
    text-align: center;
  }

  #work {
    color: #fff;
    font-family: 'Sofia Pro' !important;
    font-size: 28px;
    text-decoration: none;
    text-align: center;
  }

  .content{
    padding: 15%;
  }

  .card .card-content {
    padding: 8px;
    border-radius: 0 0 2px 2px;
    }

    .contact{
      position: relative;
      font-size: 12px;
      background-color: #f5f5f5;
      display: flex;
      flex-direction: column;
      padding: 3%;
      align-items: center;
    }

}

    @media screen and (max-width: 750px) {

      #nav-bar{
        height: auto;
        width: 100%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: #f5f5f5;
        overflow-x: hidden;
        display: flex;
        justify-content: space-around;
        padding-top: 3%;
        }
        
      .nav-link {
        color: white;
        text-decoration: none;
        color: white;
        font-size: 14px;
        justify-content: flex-end;
        float: right;
        display: flex;
        flex-direction: column;
        align-content: flex-start;
        align-items: center;
}
.nav-link-link:link, .nav-link-link:visited {
  color: black;
  padding: 0px 15px;
  text-decoration: none;
  display: flex;
  align-items: center;
  float: right;
  flex-direction: column;
}
  
.nav-link-link:hover, .nav-link-link:active {
  background-color:#101010;
  display: flex;
  align-items: center;
  float: right;
  flex-direction: column;
  color: white;
  padding-top: 3%;
}
     #name {   
      color: #fff;
      font-family: 'Sofia Pro' !important;
      font-size: 56px;
      text-decoration: none;
      text-align: center;
    }
  
    #work {
      color: #fff;
      font-family: 'Sofia Pro' !important;
      font-size: 38px;
      text-decoration: none;
      text-align: center;
    }

    section {
      margin-bottom: 80px;
      padding: 5%;
    }
    .card .card-content {
      padding: 16px;
      border-radius: 0 0 2px 2px;
  }
      }