/* @font-face {
  font-family: 'Sofia Pro';
  src: url(./fonts/sofia/Sofia\ Pro\ Regular\ Az.otf);
} */
* {
  padding: 0;
  margin: 0;
}
body{
    box-sizing: border-box;
    font-family: 'Sofia Pro' !important;
}

#welcomecont{
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  margin-bottom: 100px;

}

.displayphoto{
  width: 150px;
    height: 150px;
    margin-top: 25%;
    margin-right: 20%;
    margin-left: 20%;
    border-radius: 50%;
    border-style: solid;
    border-color: #dddddd;

}

.material-icons{
  padding: 5%;
}

#nav-bar{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #f5f5f5;
  overflow-x: hidden;
  }

  #nav-bar h1 {
    color: black;
    font-size: 28px !important;
    font-family: 'Sofia Pro' !important;
    margin: 0;
    padding: 16px;
    text-align: center;
  }
    
    .nav-link {
     color: white;
     padding: 10px;
     text-decoration: none;
     display: block;
     color: white;
     font-size: 20px;
  }

  
  .nav-link-link:link, .nav-link-link:visited {
    color: black;
    padding: 0px 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  
  .nav-link-link:hover, .nav-link-link:active {
    background-color:#101010;
    color: white;
  }
  
  .welcome {
    animation: rainbow 1s infinite;
  }

  @keyframes rainbow {
    0% {
      background-color: black;
    }
    50%{
      background-color: blue;
    }
    100% {
      background-color: black;
    }
  }
  

  #welcomeoverlay {
    position: relative;
    display: flex;
    color:#FED777;
  }

  #welcomebg {
    
    display: flex;
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    transition: .5s ease;
    
  }

  #name {   
    color: #fff;
    font-family: 'Sofia Pro' !important;
    font-size: 72px;
    text-decoration: none;
    margin-left: 250px;
  }

  #work {
    color: #fff;
    font-family: 'Sofia Pro' !important;
    font-size: 46px;
    text-decoration: none;
    margin-left: 250px;
  }


  



  /*=====================================*/
   .header {
     position: relative;
     height: 60px;
   }
   a {
     text-decoration: none !important;
   }
   p {
     color: #888 ;
     font-family: 'Sofia Pro Light';
     font-size: 20px;
   }

   .container {
    position: relative;
    width: 100%;
    margin-right: auto;
    margin-left: auto;

   }
   .container.is-fluid {
    max-width: 100% !important;
   }
   @media (min-width: 410px) {
    .container {
     max-width: 410px;
    }
   }
   @media (min-width: 576px) {
    .container {
     max-width: 576px;
    }
   }
   @media (min-width:768px) {
    .container {
     max-width: 768px;
    }
   }
   @media (min-width: 992px) {
    .container {
     max-width: 992px;
    }
   }
   @media (min-width:1221px) {
    .container {
     max-width: 1220px;
    }
   }

   section {
     margin-bottom: 80px;
   }

  
  @keyframes typing {
    from {
      width: 0
    }
  }
      
  @keyframes blink {
    50% {
      border-color: transparent
    }
  }
  
  
  #typeline {

    font-family: 'Sofia Pro Light';
    color: darkblue;
    text-align:center;
  
  }
  
  @keyframes caret {
    50% {
      border-color: transparent;
    }
  }

  
  
   .content{
     padding-top: 10%;
   }

   .cert{
     padding-top: 5%;
   }

   .contact {
      padding: 5%;
   }