/* @font-face {
  font-family: 'Sofia Pro';
  src: url(./fonts/sofia/Sofia\ Pro\ Regular\ Az.otf);
} */
* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

:target:before {
  content: "";
  display: block;
}

body {
  box-sizing: border-box;
  font-family: 'Sofia Pro' !important;
}

#welcomecont {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 35vh;
  position: relative;
  z-index: 10;
}

#welcomebg {
  background-image: url(./images/welcome.jpg);
  display: flex;
  width: 100%;
  height: 35vh;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  background-position: center;
}

#name {
  color: #dddddd;
  font-family: 'Sofia Pro' !important;
  font-size: 72px;
  text-decoration: none;
}

.topnav {
  overflow: hidden;
  background-color: #f5f5f5;
  position: sticky;
  z-index: 10;
  width: 100%;
  display: inline-block;
  top: 0;
}

.topnav h1 {
  color: #333;
  font-size: 28px !important;
  font-family: 'Sofia Pro' !important;
  margin: 0;
  padding: 16px;
  float: left;
}

.logo {
  display: flex;
  align-items: center;
}

.charlogo {
  margin-right: 5%;
}

.topnavlink a {
  text-decoration: none;
  color: #333;
  font-size: 20px;
  justify-content: flex-end;
  display: flex;
  padding: 16px;
  float: right;
}

.topnav a:hover {
  background-color: #ddd;
  color: #333;
}

.topnav a:active {
  background-color: #333;
  color: white;
}

.dropdownhome {
  display: none;
}

.about {
  display: flex;
  flex-direction: row;
}

.aboutcontent {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-right: 10%;
  padding-top: 5%;
}

#typeline,
h5 {
  font-family: 'Sofia Pro Light';
  text-align: center;
  color: darkblue;

}

.allcert {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding-top: 5%;
}

.cert {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.cert .mySlides img {
  width: 600px;
  height: 400px;
}

.mySlides {
  display: none;
}

.cert .fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

@keyframes fade {
  from {
    opacity: .4
  }

  to {
    opacity: 1
  }
}

.projcontent{
  margin-bottom: 250px;
  padding-top: 20px;
}

.contact {
  position: relative;
  background-image: url(./images/welcome.jpg);
  background-position: center;
  padding-left: 20%;
  justify-content: space-evenly;
  align-items: center;
  bottom: 0;
  width: 100%;
}

.details{
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 20px;
}

.details p{
  color: #fff;
  font-family: 'Sofia Pro' !important;
  font-size: 20px;
  text-decoration: none;
}

a {
  text-decoration: none !important;
}

p {
  color: #000;
  font-family: 'Sofia Pro Light';
  font-size: 24px;

}

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  display: flex;
  flex-direction: column;
}

.container.is-fluid {
  max-width: 100% !important;
}

@media (min-width: 410px) {
  .container {
    max-width: 410px;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 576px;
  }
}

@media (min-width:768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 992px;
  }
}

@media (min-width:1221px) {
  .container {
    max-width: 1220px;
  }
}


@media screen and (max-width: 700px) {

.topnavlink{
  display: none;
}

.topnav{
display: block;
}


.dropdown {
  position: relative;
  display: block;
  float: right;
}

.dropdownhome{
  display: inline-block;
  padding: 15px;
}
  
.dropdown:hover .topnavlink,
.dropdown:active .topnavlink{
  color: black;
  float: right;
  display: flex;
  flex-direction: column-reverse;
}

.dropdown:visited .topnavlink {
  display: none;
}

.about {
  flex-direction: column;
}

.aboutcontent{
  width: 100%;
}

.aboutcontent h3{
  font-size: 36px;
}

p{
  font-size: 20px;
}



}


@media screen and (max-width: 300px) {


  
}